<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Create Employee</h2>
    <form action="/create" method="post" th:object="${list}">
        <table class="table">
            <tr>
                <td><input th:field="*{id}" hidden></td>
            </tr>
            <tr>
                <th>CODE_ID</th>
                <td><input th:field="*{codeId}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('codeId')}" th:errors="*{codeId}"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input th:field="*{name}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <th>AGE</th>
                <td><input th:field="*{age}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
            </tr>
            <tr>
                <th>PHONG_BAN</th>
                <td><input th:field="*{phongBan}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('phongBan')}" th:errors="*{phongBan}"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Create Employee</button>

    </form>
</div>

</body>
</html>